<section id="threeArticleSection">
    <h1>Section Title</h1>
    <div id="articleContainer">
        <article>
            <img src="/assets/images/img_article1.png"/>
            <h3>titre article 1</h3>
            <p class="text-fonctionality">paragrpahe de larticle 1</p>
        </article>
        <article>
            <img src="/assets/images/img_article2.png"/>
            <h3>titre article 2</h3>
            <p class="text-fonctionality">paragrpahe de larticle 2</p>
        </article>
        <article>
            <img src="/assets/images/img_article3.png"/>
            <h3>titre article 3</h3>
            <p class="text-fonctionality">paragrpahe de larticle 3</p>
        </article>
    </div>
    <a href="/dashboard" class="sp-button-pink">lien vers la page</a>
</section>