<div>
    <h1 id="brandName" class="header_items">
        <a href="index.html">
            <img src="images/logo-jeremie-julien.png" alt="logojeremiejulien" id="logo"/>
        </a>
    </h1>
    <nav id="blockNav" class="header_items">
        <ul>
            <li id="liensNav1"><a href="">Works</a></li>
            <li id="liensNav2"><a href="">About</a></li>
            <li id="liensNav3"><a href="">Contact</a></li>
        </ul>
    </nav>
    <ul id="social">
        <li ><a id="linkedin" href="#">LinkedIn</a></li>
        <li ><a id="facebook" href="#">Facebook</a></li>
        <li ><a id="pinterest" href="#">Pinterest</a></li>
        <li ><a id="behance" href="#">Behance</a></li>
    </ul>
</div>